* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, contenido dinámico, footer */
    min-height: 100vh; /* Altura mínima igual al viewport */
    background-color:#f3ede0;
}
.content{
    margin-top: calc(1rem + 2rem); /* Altura del header (aproximadamente 3rem) */
    padding: 2em;
}

header {
    background-color: #004D94;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    position: fixed; /* Fija el header */
    top: 0; /* Se posiciona en la parte superior de la ventana */
    width: 100%; /* Asegura que abarque todo el ancho */
    z-index: 1000; /* Se asegura de que esté por encima de otros elementos */
}
.logo {
    font-weight: bold;
    font-size: 3rem;
    margin-right: 2rem; /* Espaciado entre logo y elementos cercanos */
}

.container-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem; /* Espaciado entre botones de navegación */
}

.link-nav {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    width: 15rem;
    margin: 0;
    border: solid 5px #004D94;
    border-radius: 0.8rem;
    text-align: center;
    height: 1.5rem;
    display: grid;
    place-content: center;
    color: #023535;
    font-family: boton;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}

.link-nav:hover {
    color: #B78400;
    border: solid 5px #B78400;
}

/* Estilo para el input de búsqueda y su contenedor */
.search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espacio entre input y lupa */
}

.text-input {
    width: 25rem;
    height: 2rem; /* Ajustar la altura */
    padding: 0.5rem; /* Espaciado interno */
    font-size: 1.2rem;
    border: 2px solid #004D94;
    border-radius: 0.5rem;
}

.search-icon {
    font-size: 1.5rem;
    color: #004D94;
    cursor: pointer;
}

.hero {
    text-align: center;
    position: relative; /* Necesario para posicionar el texto sobre la imagen */
    background: url('/assets/por.jpg') no-repeat center center/cover; /* Imagen de fondo */
    padding: 4em 2em; /* Espaciado interno para el contenido */
    margin-top: 5rem;

}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.712); /* Oscurece ligeramente la imagen para legibilidad */
    z-index: 1; /* Mantiene el fondo detrás del texto */
}

.hero h1, .hero p {
    position: relative; /* Para que el texto esté sobre el overlay */
    z-index: 2; /* Asegura que el texto esté frente al overlay */
}
.hero h1 {
    font-size: 7rem;
    color: #B78400;
}

.hero p {
    margin-top: 1em;
    font-size: 4rem;
    color: #333;
}

.hero b {
    color: #B78400;
}

.services {
    padding: 2rem;
    text-align: center;
    background-color: #f3ede0;
}

.services h2{
    font-size: 4rem ;
    color: #004D94;
    margin-bottom: 1rem;
}

.service-items {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 5rem 0;
}

.service-item {
    position: relative;
    width: 20rem;
    height: 20rem;
    text-align: center;
    overflow: hidden;
    border-radius: 50%; /* Mantiene la forma circular */
    transition: transform 0.3s ease; /* Transición para el crecimiento del contenedor */
    border: 5px solid #004D94;

}

.service-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;  
}

.info-oc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden; /* Inicialmente oculta */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;
    z-index: 2;
    border-radius: 50%; /* Mantiene la forma circular */
}

.service-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.480); /* Fondo translúcido */
    border-radius: 50%;
    z-index: 1;
}

.service-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    z-index: 2;
    font-size: 3rem;
    font-weight: bold;
}

.service-item:hover {
    transform: scale(1.4); /* Agranda el contenedor completo */
}

.service-item:hover .info-oc {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease; /* Añadida transición solo para la visibilidad */
}

.info-oc img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.service-item:hover .info-oc img {
    transform: scale(1); /* Aumenta la imagen dentro del contenedor */
}

.info-oc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.480); /* Fondo translúcido */
    border-radius: 50%;
    z-index: 1;
}

.info-oc p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 1.45rem;
    font-weight: bold;
    z-index: 2;
}

footer {
    background-color: #004D94;
    padding: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.footer-contact {
    display: flexbox;
    align-items: center;
    gap: 1rem;
}

.contact-icons span {
    margin-right: 0.5rem;
}
